<a href="#" data-bs-toggle="modal" data-bs-target="#ea-text-editor-{{ entity.instance.id }}">
    <i class="far fa-file-alt"></i> View content
</a>
<div class="modal fade" id="ea-text-editor-{{ entity.instance.id }}" tabindex="-1" role="dialog" aria-modal="true" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                {{ entity.instance.description|raw }}
            </div>
        </div>
    </div>
</div>